body{
  background-color: #f0f0f2;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div	{ width: 600px; margin: 1em auto; padding: 50px; background-color: #fff; border-radius: 1em; }

a:link		{ color: #00beee; text-decoration: none; }
a:visited	{ color: #003399; text-decoration: none; }
a:hover		{ color: darkorange; text-decoration: none; }

/*@media (max-width: 700px) {
        body {
            background-color: #fff;
        }
        div {
            width: auto;
            margin: 0 auto;
            border-radius: 0;
            padding: 1em;
        }
    }
*/