.example	{ width: 600px; margin: 1em auto; padding: 20px; background-color: #fff; border-radius: 1em; }
.l_blue	{ width: auto; margin: 0em auto; padding: 10px; background-color: #eee; border-radius: 6em; }

.l_df85a0	{ width: auto; margin: 0em auto; padding: 10px; background-color: #df85a0; border-radius: 6em; }
.l_ffc107	{ width: auto; margin: 0em auto; padding: 10px; background-color: #ffc107; border-radius: 6em; }
.l_8bc349	{ width: auto; margin: 0em auto; padding: 10px; background-color: #8bc349; border-radius: 6em; }

.l_ffff00	{ width: auto; margin: 0em auto; padding: 10px; background-color: #ffff00; border-radius: 6em; }
.l_ffc0cb	{ width: auto; margin: 0em auto; padding: 10px; background-color: #ffc0cb; border-radius: 6em; }
.l_00ff7f	{ width: auto; margin: 0em auto; padding: 10px; background-color: #00ff7f; border-radius: 6em; }

.l_c8ef68	{ width: auto; margin: 0em auto; padding: 10px; background-color: #c8ef68; border-radius: 6em; }
.l_d0f3ff	{ width: auto; margin: 0em auto; padding: 10px; background-color: #d0f3ff; border-radius: 6em; }